

<footer class="bg-dark text-light text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>About the System</h3>
A comprehensive solution for the efficient storage and management of church member data, offering robust visual
analytics capabilities, and maintaining records securely, including documents and sensitive information.
            </div>
        </div>
        <hr>
        <p class="mb-0">© 2023 Asawase St. Theresa Parish. All rights reserved.</p>
    </div>
</footer>